extends layout

block content
  h1= title
  form(action="post")
    h2 Se connecter
    div
      label(for="") Email
      input(type="email")
    div
      label(for="") Password
      input(type="password")
    button(type="submit") Se connecter
