doctype html
html(lang='fr')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.2.19/dist/tailwind.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="header")
      h1(class="text-[#d9a703] text-xl font-bold") Ardev 
    div(class="flex flex-row gap-x-6 p-6")
      div(class='w-nav')
        block sidebar 
          ul(class="flex flex-col gap-y-4 mb-6") 
            li
              a(href='dashboard' class="text-xl") Home
            li
              a(href='/projects' class="text-xl") Tous les projects
            li
              a(href='/projects/create' class="text-xl") Ajouter un projet
            li
              a(href='/dashboard/experiences' class="text-xl") Expériences
            li
              a(href='/dashboard/experiences/create' class="text-xl") Ajouter une expérience
          hr
          div(class="py-6")
            a(href="/dashboard/contacts" class="text-xl") Voir tous les contacts
          hr
          div(class="py-6")
            a(href="/admin/userUpdate" class="text-xl") Modifier votre profil
      div(class='w-full')
        block content
