@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,600&family=Roboto:wght@300;400&display=swap');

:root {
  --dark: #000000;
  --light: #ffffff;
  --grayOpacity: #48487394;
  --grayColor: #484873;
  --graySecond: #e6e6e6;
  --redColor: #e76f51;
  --yellowColor: #d9a703;
  --spaceBlock: 20px;
  --spaceTwo: 50px;
}

/* RESET */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
 font-family: roboto;
 font-size: 18px;
}
a {
  color: #2e89f8;
}



.header {
  color: var(--yellowColor);
  background-color: var(--grayColor);
  padding: 1.5rem;
}
.main {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 520px;
  margin: 100px auto;
  color: var(--light);
  background-color: var(--grayColor);
  padding: 1.5rem;
}
h2 {
  font-size: 2.8rem;
  text-align: center;
}
div {
  display: flex;
  flex-direction: column;
}
input {
  font-size: 18px;
  color: var(--light);
  min-height: 48px;
  background-color: #848496;
  padding: 12px;
  border: none;
  outline: none;
}
button {
  cursor: pointer;
  display: inline-block;
  width: max-content;
  font-size: 1.2rem;
  font-weight: 600;
  height: 48px;
  margin-top: 2rem;
  color: var(--light);
  background: #5396e7;
  padding: 0.5rem;
  border: none;
  border-radius: 12px;
}
button:hover {
  background: linear-gradient(180deg,rgba(0,0,0,0) 0,rgba(0,0,0,.2) 100%) #5396e7;
}

.w-nav {
  width: 20%;
  padding: 0.8rem;
}